.turbo
node_modules

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.mypy_cache

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Environment variables
.env.local

# Database
*.db
*.sqlite3

# Testing
.coverage
htmlcov/

# IDE
.idea/

# Logs
*.log 

tsconfig.tsbuildinfo